.banner{
    height: 100vh;
    background-position:bottom;
}
.banner:before{
    content:'';
    background: linear-gradient(to top, rgba(0, 0, 0, 0.65),transparent);
    position: absolute;
    left: 0;
    height: 100vh;
    width: 100%;
}
.pop_info{
    color: white;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    
}
.pop_info > *{
    z-index: 2;
}